// Colours
$black: #404040;
$white: #fff;
$offwhite: #f0f1f1;

$blue: #21759b;
$orange: #CC8B14;
$pale-yellow: #fff9c0;
$green: #33B26E;
$dark-green: #066;

$grey: #5C6772;
$dove-grey: #666;
$light-grey: #eee;
$silver: #ccc;

$color__background-body: $white;
$color__background-screen: $offwhite;
$color__background-hr: $silver;
$color__background-button: $green;
$color__background-button-hover: $grey;
$color__background-pre: $light-grey;
$color__background-ins: $pale-yellow;

$color__text-screen: $blue;
$color__text-input: $dove-grey;
$color__text-input-focus: $black;
$color__link: $green;
$color__link-visited: $dark-green;
$color__link-hover: $orange;
$color__text-main: $black;
$color__heading: $grey;

$color__border-button: $green;
$color__border-button-hover: $grey;
$color__border-button-focus: $silver;
$color__border-input: $silver;
$color__border-abbr: $dove-grey;


// FONT FAMILY
$font__sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font__serif: 'Droid Serif', Georgia, Times, 'Times New Roman', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size-xlarge: 30px;
$font__size-large: 22px;
$font__size-medium: 18px;
$font__size-default: 16px;
$font__size-small: 14px;


// Media queries
$desktop-wide:          75.00em;  // 1200px
$desktop-small:         64.00em;  // 1024px
$desktop-tiny:          60.00em;  // 960px
$tablet-portrait:       48.00em;  // 768px
$phone-wide-landscape:  37.50em;  // 600px
$phone-landscape:       30.00em;  // 480px
$phone-portrait:        20.00em;  // 320px

$max-width: 1200px;

@import "_mixins";

@import "_reset";

@import "_accessibility";

@import "typography/typography";

@import "elements/elements";

@import "layout/layout";

@import "header/header";

@import "navigation/navigation";

@import "blog/blog";

@import "sidebar/sidebar";

@import "footer/footer";

@import "forms/forms";

@import "media/media";

