#masthead { 
	background: $grey;
	padding-top: 2%;
	@media screen and (min-width: $phone-wide-landscape) {
		padding: 20px 0;
	}
	
	#branding {
		float: left;
		width: 100%;
		@media screen and (min-width: $phone-wide-landscape) {
			width: 30%;
		}
	}
	
	#site-navigation {
		float: left;
		width: 100%;		
		@media screen and (min-width: $phone-wide-landscape) {
			float: right;
			width: 70%;
		}
	}
}

@import "branding";