.fourofour-content {
	@include center-block;
	padding-top: 50px;
	padding-bottom: 200px;
	width: 100%;	
	@media screen and (min-width: $phone-wide-landscape) {
		width: 80%;
	}
	@media screen and (min-width: $tablet-portrait) {
		width: 50%;
	}
}
