/* Main Layout
---------------------------*/
.row {
	width: 100%;
}
.container {
	@include center-block;
	@include clearfix;	
	width: 100%;
	max-width: $max-width;
}

.site-main {
	padding: 30px 2%;
	@media screen and (min-width: $max-width) {
		padding: 30px 0;
	}
}

.left-block {
	float: left;
}

.right-block {
	float: left;
	@media screen and (min-width: $phone-wide-landscape) {
		float: right;
	}
}

.primary-content {	
	width: 100%;	
	@media screen and (min-width: $phone-wide-landscape) {
		width: 65%;
	}
}
.primary-sidebar {
	width: 100%;	
	@media screen and (min-width: $phone-wide-landscape) {
		width: 25%;
	}
}

@import "_404";