/* Main Layout
---------------------------*/
.row {
	width: 100%;
}
.container {
	@include center-block;
	@include clearfix;
	position: relative;	
	width: 100%;
	max-width: $max-width;
}
.container--narrow {
	@extend .container;
	max-width: $max-content-width;
}

.site__main {
	padding: 30px 20px;
	@media screen and (min-width: $max-width) {
		padding: 30px 0;
	}
}

.two__column--area {
	@include flexbox;
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	.content {	
		width: 100%;	
		@media screen and (min-width: $tablet-portrait) {
			width: 55%;
		}
		@media screen and (min-width: $desktop-tiny) {
			width:  65%;
		}
	}
	.sidebar {
		width: 100%;	
		@media screen and (min-width: $tablet-portrait) {
			width:  40%;
		}
		@media screen and (min-width: $desktop-tiny) {
			width:  30%;
		}
	}
}



@import "_404";