button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__background-button;
	border: none;
	@include border-radius(2px);
	color: $white;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	@include font-size(14px);
	line-height: 1;
	padding:  10px 15px;
	text-transform: uppercase;
	&:hover {
		background: $color__background-button-hover;
		border-color: none;
	}
	&:focus, 
	&:active {
		border-color: $color__border-button-focus;
	}

}
