/* Search Form
-------------------------------------------*/
.search-form {
	@include flexbox;
	input {
		border: none;
		@include border-radius(0);
		&.search-field {
			background: $offwhite;
			width: calc(100% - 10px);
		}
	}	
	label {
		@include flex(1);
	}		
}
