/* Search Form
-------------------------------------------*/
.search__form {
	@include flexbox;
	max-width: 400px;
	label {
		@include flex(1);
	}		
}

.search__form--input {
	border-radius: none;
	width: 100%;
}

.search__form--submit {
	border-radius: none;
}
