.aligncenter,
.alignleft, 
.alignright {
	@include center-block;
	margin-top: 1em;
	margin-bottom: 1em;
}

@media screen and (min-width: $phone-wide-landscape) {
	.alignleft {
		float: left;
		margin: 0 1.5em 0 0;
	}
	.alignright {
		float: right;
		margin: 0 0 0 1.5em;
	}
}
