h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: $color__heading;
	font-family: $font__serif;
	font-weight: 400;
}

h1 {
	font-size: $font__size-xlarge;
	margin: 0 0 20px;
}

h2 {
	font-size: $font__size-large;
	margin: 15px 0;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

h3, h4, h5, h6 {
	font-size: $font__size-medium;
	margin: 15px 0;
}
