body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__sans;
	font-size: $font__size--default;
	line-height: $font__line-height-body;
}

p {
	margin-bottom: 10px;
}

.text--small {
	font-size: $font__size--small;
}

@import "copy";

@import "links";

@import "headings";

@import "blockquotes";