.post {
	border-top: 1px solid $color__border;
	padding-top: 1em;
	margin-bottom: 2em;
	&:first-of-type {
		border: none;
		padding-top: 0;
	}
}

@import "entrymeta";

@import "post-pagination";

@import "post-navigation";

@import "comment-list";

@import "comment-form";

