/* Comments
----------------------------------------------- */
.bypostauthor {
}
.avatar {	
	display: block;
	float: left;
	padding: 0 1.25em 0.625em 0;
}		
.comment-meta a {
	text-decoration: none;
}

.comment__list {
	border-top: 1px solid $color__border-default;
	list-style: none;
	margin: 0; 
	padding: 1.25em 0;
	ul, ol {
		padding: 0;
	}
	> li {
		border-bottom: 1px solid $color__border-default;
	}
	li {
		font-size: $font__size--small;
		padding: 0.625em; 
		margin: 0;
		p {
			margin: 0;
			padding: 0.625em 0;
		}
		li > li {
			border: none;
		}
	}
}

.comment__list ul li{
	list-style: disc;
}
.comment__list ol li {
	list-style: decimal;
}
.comment__list .children {
	list-style: none;
	margin: 0.625em 0.625em 0 1.25em;
	padding: 0;
	li {
		border-top: 1px solid $color__border-default;
		list-style: none;
		padding-top: 5px;
	}
}
