.comment-respond {
	margin-top: 30px;
}

.comment-form {
	padding: 20px 0;
	p {
		margin-bottom: 10px;
	}
	label {
		display: inline-block;
		width: 90px;
	}
}

/* Hides the content explaining what html tags are allowed */
.form-allowed-tags {display: none;}