.post-navigation {
	font-size: $font__size-small;
	padding: 2em 0;
	a {
		text-decoration: none;
	}
	.nav-previous {
		width: 50%;
		a:before {
			 content:"\00ab";
			 padding-right: 5px;
		}
	}
	.nav-next {
		text-align: right;
		width: 50%;
		a:after {
			 content:"\00bb";
			 padding-left: 5px;
		}
	}
} 

