/* Post pagination
----------------------------------------------- */
.paging-navigation {
	padding: 15px 0;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
		}
	}
	a.page-numbers,
	span.page-numbers {
		padding: 3px 8px;
		color: $grey;
		text-decoration: none;
		&:hover {
			color: $black;
		}
		&.current {
			color: $color__link;
			font-weight: bold;
		}
	}
}


