/* Main Layout
---------------------------*/
.wrap {
	border: 1px solid $grey	;
	@include clearfix;
	@include wrap;
}
.container {
	@include container;
}

#masthead { 
	background: $offwhite;
	@include row; 
	#branding {
		background: green;
		@include col(4);
	}
	#site-navigation {
		background: orange;
		@include col(8);
		@include last;
	}
}

#main {
	@include row;
	padding: 30px 0;
	#content {
		background: $offwhite;
		@include col(7);
	}
	#sidebar {
		background: $offwhite;
		@include col(4);
		@include prepend(1);
		@include last;
	}
	#fourofour {
		@include col(6);
		@include prepend(3);
		padding-top: 50px;
		padding-bottom: 150px;
	}
}

#footer {
	background: $offwhite;
	@include row; 
}


