.menu__toggle {
    cursor: pointer;
	display: none;
	z-index: 9999;
}

@media screen and (max-width: $tablet-portrait) {
    .menu__toggle {
		background: url(images/hamburger.svg) no-repeat;
		background-size: 28px 28px;
		border: none;
		border-radius: 0;
		display: block;
		height: 28px;
		padding: 0;
		position: absolute;
		right: 20px;
		top: 20px;
		text-indent: -9999px;
		width: 28px;
		z-index: 9999;
		&:hover {
			background: url(images/hamburger.svg) no-repeat;
			background-size: 28px 28px;
			border: none;
			color: transparent;
			height: 28px;
			width: 28px;
		}
		&.toggled {
			background: url(images/close.svg) no-repeat;
	 		background-size: 28px 28px;
			position: absolute;

		}
    }
}