.menu-toggle {
    cursor: pointer;
	display: none;
	padding: 10px;
}

@media screen and (max-width: $phone-wide-landscape) {
    .menu-toggle {
		background: $color__text-main;
		border: none;
		color: $white;
        display: inline-block;
		font-family: $font__sans;
		@include font-size(16px);
		margin: 0;

        text-decoration: none;
		text-align: left;
		text-transform: uppercase;
		width: 100%;
		a, 
		a:hover {
			color: $white;
			text-decoration: none;
		}
		&:hover {
			background: $grey;
		}
		&:before {
			content: '\2261';
			@include font-size(16px);
			margin-right: 10px;
		}
    }
}