@media screen and (max-width: $phone-wide-landscape) {
    .main-navigation.toggled .nav-menu {
        display: block;
    }
    .main-navigation {
		ul {
			display: none;
			padding-left: 0;
			text-align: left;
			li {
				display: block;
				border-top: 1px solid $color__border-default;
				a {
					background: $color__text-main;
					color: $color__link-background;
					padding: 10px 20px;
					&:hover{
						background: rgba($color__text-main, 0.8);
					}
				}
			}
			ul, 
			ul ul {
				box-shadow: none;
				position: relative;
				top: inherit;
				left: 0;
				display: block;
				float: none;
				width: 100%;
				li {
					border: none;
				}
			}
			ul a { 
				padding-left: 40px;
				width: 100%;
			}
			ul ul a {
				padding-left: 60px;
			}
		}
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current_page_item > a:hover,
		.current-menu-item > a:hover,
		.current_page_item > a:focus,
		.current-menu-item > a:focus {
		    background: $color__text-main;
			color: $color__link-background;
		}
		ul ul .current_page_parent,
		.current_page_parent .current_page_item > a {
		    background: $color__text-main;
		   	color: $color__link-background;
			&:hover {
			    background: rgba($color__text-main, 0.8);
				color: $color__link-background;
			}
		}
	}
} 
