@media screen and (max-width: $phone-wide-landscape) {
    .main-navigation.toggled .nav-menu {
        display: block;
    }
    .main-navigation {
		ul {
			display: none;
			padding-left: 0;
			li {
				border-top: 1px solid $light-grey;
				a {
					background: $color__text-main;
					color: $white;
					padding: 10px 20px;
					&:hover{
						background: $grey;
					}
				}
			}
			ul, 
			ul ul {
				box-shadow: none;
				position: relative;
				top: inherit;
				left: 0;
				display: block;
				float: none;
				width: 100%;
				li {
					border: none;
				}
			}
			ul a { 
				padding-left: 40px;
				width: 100%;
			}
			ul ul a {
				padding-left: 60px;
			}
		}
		.current_page_ancestor,
	   	.current_page_item > a,
	   	.current-menu-item > a,
	   	ul ul .current_page_parent,
	   	.current_page_parent .current_page_item > a {
	   	    background: $color__text-main;
	   	   	color: $white;
		}
		
		.current_page_item li:hover,
		.current_page_item li:focus,
		.current_page_item li > a:focus,
		.current-menu-item li > a:focus,
	   	.current_page_item > a:hover,
	   	.current-menu-item > a:hover {
			background: $grey;
			color: $white;
	   	}
	}
} 
